CurrencyConvertMarketData/currencyConvertMarketData.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://sltf.unsw.edu.au/services" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://sltf.unsw.edu.au/services" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://sltf.unsw.edu.au/services" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
<wsdl:documentation>Web service interface for COMP9322 assignment 1 (Currency Convert Service)</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://sltf.unsw.edu.au/services" xmlns:tns="http://sltf.unsw.edu.au/services">
      <xs:element name="currencyConvertMarketData">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="eventSetId" nillable="false" type="xs:string"/>
            <xs:element name="targetCurrency" nillable="false" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="currencyConvertMarketDataResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="eventSetId" nillable="false" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:simpleType name="currencyConvertMarketDataFaultType">
      	<xs:restriction base="xs:string">
      		<xs:enumeration value="InvalidEventSetId"></xs:enumeration>
      		<xs:enumeration value="InvalidMarketData"></xs:enumeration>
      		<xs:enumeration value="InvalidTargetCurrency"></xs:enumeration>
      		<xs:enumeration value="ProgramError"></xs:enumeration>
      	</xs:restriction>
      </xs:simpleType>
      <xs:element name="currencyConvertMarketDataFault">
      	<xs:complexType>
      		<xs:sequence>
      			<xs:element name="faultType" nillable="false" type="tns:currencyConvertMarketDataFaultType" />
      			<xs:element name="faultMessage" nillable="false" type="xs:string" />
      		</xs:sequence>
      	</xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="currencyConvertMarketDataFault">
  	<wsdl:part name="parameters" element="ns:currencyConvertMarketDataFault">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:message name="currencyConvertMarketDataRequest">
    <wsdl:part element="tns:currencyConvertMarketData" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="currencyConvertMarketDataResponse">
    <wsdl:part element="tns:currencyConvertMarketDataResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="CurrencyConvertMarketDataServicePortType">
    <wsdl:operation name="currencyConvertMarketData">
      <wsdl:input message="ns:currencyConvertMarketDataRequest" wsaw:Action="urn:currencyConvertMarketData"/>
      <wsdl:output message="ns:currencyConvertMarketDataResponse" wsaw:Action="urn:currencyConvertMarketDataResponse"/>
      <wsdl:fault name="mainFault" message="ns:currencyConvertMarketDataFault"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CurrencyConvertMarketDataServiceSoap11Binding" type="ns:CurrencyConvertMarketDataServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="currencyConvertMarketData">
      <soap:operation soapAction="urn:currencyConvertMarketData" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="mainFault">
      	<soap:fault name="mainFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CurrencyConvertMarketData">
    <wsdl:port binding="ns:CurrencyConvertMarketDataServiceSoap11Binding" name="CurrencyConvertMarketDataServiceHttpSoap11Endpoint">
      <soap:address location="http://localhost:8080/axis2/services/CurrencyConvertMarketDataService/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
